* {
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
}

:root {
	--background: #820ad1;
	--button: #fff;
	--title-text: rgb(203 203 203);
	--text: rgb(165, 165, 165);

	font-size: 62.5%;
}

input,
button {
	border-radius: 8px;
	font-family: "Poppins", sans-serif;
}

#password-remember,
button {
	cursor: pointer;
}
#password-remember:hover,
button:hover {
	filter: brightness(1.2);
}

#password-remember {
	color: #820ad1;
}

h1,
h2,
h3,
p {
	font-family: "Roboto", sans-serif;
}

body {
	background-color: var(--background);
}

main {
	display: flex;
}

/* Background */
#image-wrapper {
	filter: drop-shadow(10px 0px 5px #000);
}

#background {
	height: 100vh;
	width: 100vw;
	background-image: url(./images/559128.jpg);
	clip-path: polygon(0 0, 35% 0, 55% 100%, 0% 100%);
}

/* Login */
#wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	position: absolute;
}

.login-nav {
	height: 100vh;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-nav img {
	height: 5rem;
}

.login-nav h1 {
	margin-left: 1rem;
	font-size: 4rem;
	font-weight: 500;
	color: #fff;
}

.box {
	width: 32rem;
	background-color: rgb(236, 236, 236);
	border-radius: 8px;
	padding: 6rem 3.5rem 4rem 3.5rem;
}

.parameters {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.parameters #inputs {
	height: 18rem;
}

.parameters h3 {
	font-size: 3.5rem;
	font-weight: 500;
	color: #222;
	margin-bottom: 6rem;
}

.parameters div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.parameters input {
	outline: none;
	width: 30rem;
	height: 2.5rem;
	border-radius: 0px;
	padding: 1.5rem;
	margin-bottom: 1.5rem;
	color: #820ad1;
	background-color: rgb(236, 236, 236);
}

.parameters input::placeholder {
	color: var(--text);
}

.parameters input:focus {
	border-bottom: #820ad1 1px solid;
}

/* Remember and forgot password */

div .other-options {
	width: 30rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
	flex-direction: row;
	margin-top: 2rem;
}

div .other-options .remember {
	display: flex;
	flex-direction: row;
}

div .other-options .remember p {
	font-size: 1.5rem;
	font-weight: 400;
	color: #000;
	margin-bottom: 0.8rem;
}

div .other-options .remember input {
	width: 2rem;
	height: 2rem;
	margin-right: 0.5rem;
}
div .other-options .forgot button {
	width: 15rem;
	padding: 0.8rem;
	text-align: center;
	background-color: #820ad1;
	color: white;
}

/* Submit button */

#submit-button {
	width: 30rem;
	padding: 0.8rem 2.5rem;
	background-color: #820ad1;
	color: white;
	margin-top: 3.5rem;
}
